[user]
	email = blake.thomson@voxmedia.com
	name = Blake Thomson
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	dmb = "! git branch --merged HEAD | grep -v \\* | xargs git branch -d"
	sta = "diff --staged"
	cp = "cherry-pick"
	rbc = "rebase --continue"
	rbs = "rebase --skip"
[diff-so-fancy]
	stripLeadingSymbols = false
[credential]
	helper = osxkeychain
[fetch]
	prune = true
